body {
  background-color: rgba(94, 255, 0, 0.956);
}

h1 {
  color: hsl(145, 59%, 20%);
  font-size: 50px;
}

img {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
}
